<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb</title>
    <link rel="shortcut icon" href="/assests/airbnb.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/flash.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/currencydiv.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <style>
         /* .offline{
            height: 100%;
            padding: .5rem 0;
            width: 100vw;
            font-size: 1.1rem;
            position: fixed;
            top: 0;
            z-index: 100000 !important;
            color: #c74c4c;
            background-color: #fff;
            display: none;
         }
         .show-status{            
            display: flex;
            align-items: center;
            justify-content: center;
         } */


     #offline-banner {
      display: none;
      background: #FF385C;
      color: white;
      text-align: center;
      padding: 10px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
    }
</style>
</head>
<body>    
    
    <% if(currUser && currUser.userStatus == "hosting"){ %>
        <%- include("../includes/hostNavbar.ejs") %>
    <% } else { %>
        <%- include("../includes/navbar.ejs") %>  
    <% } %>    

    <%- include("../includes/flash.ejs") %>

    <!-- <div class="offline">
        <h5>Network connection failed</h5>
    </div> -->

    <div id="offline-banner">⚠️ Connection lost. You are offline.</div>

    <div id="loader">
        <div id="dots">
          <span class="dot dot-1"></span>
          <span class="dot dot-2"></span>
          <span class="dot dot-3"></span>
        </div>
    </div>
    
    <div class="container-div">       
        <div class="currency-container detail-div-container hide">
            <div class="currency-div detail-div">
                <div class="currency-div-header detail-div-header">
                    <i class="fa-solid fa-xmark cross"></i>
                </div>
                <h4>Choose a currency</h4>     
                <br>  
                <div class="currency-div-body"></div>          
            </div>
        </div> 
        <%- body %>      
    </div>  
    
    <%- include("../includes/footer.ejs") %>
    
    <script>     
    
    // const offlineDiv = document.querySelector('.offline');
       
    const banner = document.getElementById('offline-banner');

    function updateOnlineStatus() {
    if (navigator.onLine) {
        banner.style.display = 'none';
    } else {
        banner.style.display = 'block';
    }
    }

    // Check initially
    updateOnlineStatus();

    // Listen for connection changes
    window.addEventListener('online', updateOnlineStatus);
    window.addEventListener('offline', updateOnlineStatus);
    
    function updateStatus() {
        if (navigator.onLine) {
            offlineDiv.classList.remove("show-status");
        } else {
            offlineDiv.classList.add("show-status"); 
        }
    }
    // updateStatus();

    // Listen for online/offline events
    // window.addEventListener('online', updateStatus);
    // window.addEventListener('offline', updateStatus);

   
        function loader() {
            // const loader = document.querySelector("#loader");
            // window.addEventListener("load", function () {        
            //     console.log("loaded");
            //     loader.hidden = true;
            // });
        window.addEventListener("DOMContentLoaded", function () {        
            console.log("loaded");
            document.querySelector("#loader").hidden = true;
        });
        }loader();

      

        let currencyAndCurrencyCodes = {
      data : {
          AED : {
          symbol: "AED",
          name : "United Arab Emirates Dirham",
          symbol_native: "د.إ",
          code : "AED",
          name_plural: "UAE dirhams",
          },
          AUD : {
          symbol: "AU$",
          name : "Australian Dollar",
          symbol_native: "$",
          code : "AUD",
          name_plural: "Australian dollars",
          
          },
          BGN : {
          symbol: "BGN",
          name : "Bulgarian Lev",
          symbol_native: "лв.",
          code : "BGN",
          name_plural: "Bulgarian leva",
          },
          BRL : {
          symbol: "R$",
          name : "Brazilian Real",
          symbol_native: "R$",
          code : "BRL",
          name_plural: "Brazilian reals",
          },
          CAD : {
          symbol: "CA$",
          name : "Canadian Dollar",
          symbol_native: "$",
          code : "CAD",
          name_plural: "Canadian dollars",
          },
          CHF : {
          symbol: "CHF",
          name : "Swiss Franc",
          symbol_native: "CHF",
          code : "CHF",
          name_plural: "Swiss francs",
          
          },
          CLP : {
          symbol: "CL$",
          name : "Chilean Peso",
          symbol_native: "$",
          code : "CLP",
          name_plural: "Chilean pesos",
          },
          CNY : {
          symbol: "CN¥",
          name : "Chinese Yuan",
          symbol_native: "CN¥",
          code : "CNY",
          name_plural: "Chinese yuan",
          },
          COP : {
          symbol: "CO$",
          name : "Coombian Peso",
          symbol_native: "$",
          code : "COP",
          name_plural: "Colombian pesos",
          },
          CRC : {
          symbol: "₡",
          name : "Costa Rican Colón",
          symbol_native: "₡",
          code : "CRC",
          name_plural: "Costa Rican colóns",
          },
          CZK : {
          symbol: "Kč",
          name : "Czech Republic Koruna",
          symbol_native: "Kč",
          code : "CZK",
          name_plural: "Czech Republic korunas",
          },
          EGP : {
          symbol: "EGP",
          name : "Egyptian Pound",
          symbol_native: "ج.م.‏",
          code : "EGP",
          name_plural: "Egyptian pounds",
          
          },
          EUR : {
          symbol: "€",
          name : "Euro",
          symbol_native: "€",
          code : "EUR",
          name_plural: "Euros",
          },
          GBP : {
          symbol: "£",
          name : "British Pound Sterling",
          symbol_native: "£",
          code : "GBP",
          name_plural: "British pounds sterling",
          
          },
          HKD : {
          symbol: "HK$",
          name : "Hong Kong Dollar",
          symbol_native: "$",
          code : "HKD",
          name_plural: "Hong Kong dollars",
          },
          HUF : {
          symbol: "Ft",
          name : "Hungarian Forint",
          symbol_native: "Ft",
          code : "HUF",
          name_plural: "Hungarian forints",
          },
          IDR : {
          symbol: "Rp",
          name : "Indonesian Rupiah",
          symbol_native: "Rp",
          code : "IDR",
          name_plural: "Indonesian rupiahs",
          },
          INR : {
          symbol: "Rs",
          name : "Indian Rupee",
          symbol_native: "টকা",
          code : "INR",
          name_plural: "Indian rupees",
          
          },
          JPY : {
          symbol: "¥",
          name : "Japanese Yen",
          symbol_native: "￥",
          code : "JPY",
          name_plural: "Japanese yen",
          },
          KRW : {
          symbol: "₩",
          name : "South Korean Won",
          symbol_native: "₩",
          code : "KRW",
          name_plural: "South Korean won",
          },
          MAD : {
          symbol: "MAD",
          name : "Moroccan Dirham",
          symbol_native: "د.م.‏",
          code : "MAD",
          name_plural: "Moroccan dirhams",
          
          },
          MXN : {
          symbol: "MX$",
          name : "Mexican Peso",
          symbol_native: "$",
          code : "MXN",
          name_plural: "Mexican pesos",
          },
          NOK : {
          symbol: "Nkr",
          name : "Norwegian Krone",
          symbol_native: "kr",
          code : "NOK",
          name_plural: "Norwegian kroner",
          
          },
          NZD : {
          symbol: "NZ$",
          name : "New Zealand Dollar",
          symbol_native: "$",
          code : "NZD",
          name_plural: "New Zealand dollars",      
          },
          PEN : {
          symbol: "S/.",
          name : "Peruvian Nuevo Sol",
          symbol_native: "S/.",
          code : "PEN",
          name_plural: "Peruvian nuevos soles",
          },
          PHP : {
          symbol: "₱",
          name : "Philippine Peso",
          symbol_native: "₱",
          code : "PHP",
          name_plural: "Philippine pesos",
          },
          QAR : {
          symbol: "QR",
          name : "Qatari Rial",
          symbol_native: "ر.ق.‏",
          code : "QAR",
          name_plural: "Qatari rials",
          },
          RON : {
          symbol: "RON",
          name : "Romanian Leu",
          symbol_native: "RON",
          code : "RON",
          name_plural: "Romanian lei",
          },
          SAR : {
          symbol: "SR",
          name : "Saudi Riyal",
          symbol_native: "ر.س.‏",
          code : "SAR",
          name_plural: "Saudi riyals",
          },
          SEK : {
          symbol: "Skr",
          name : "Swedish Krona",
          symbol_native: "kr",
          code : "SEK",
          name_plural: "Swedish kronor",
          },
          SGD : {
          symbol: "S$",
          name : "Singapore Dollar",
          symbol_native: "$",
          code : "SGD",
          name_plural: "Singapore dollars",
          },
          THB : {
          symbol: "฿",
          name : "Thai Baht",
          symbol_native: "฿",
          code : "THB",
          name_plural: "Thai baht",
          },
          TRY : {
          symbol: "TL",
          name : "Turkish Lira",
          symbol_native: "TL",
          code : "TRY",
          name_plural: "Turkish Lira",
          },
          TWD : {
          symbol: "NT$",
          name : "New Taiwan Dollar",
          symbol_native: "NT$",
          code : "TWD",
          name_plural: "New Taiwan dollars",
          },
          UAH : {
          symbol: "₴",
          name : "Ukrainian Hryvnia",
          symbol_native: "₴",
          code : "UAH",
          name_plural: "Ukrainian hryvnias",
          },
          UGX : {
          symbol: "USh",
          name : "Ugandan Shilling",
          symbol_native: "USh",
          code : "UGX",
          name_plural: "Ugandan shillings",
          },
          USD : {
          symbol: "$",
          name : "US Dollar",
          symbol_native: "$",
          code : "USD",
          name_plural: "US dollars",
          },
          UYU : {
          symbol: "$U",
          name : "Uruguayan Peso",
          symbol_native: "$",
          code : "UYU",
          name_plural: "Uruguayan pesos",
          },
          VND : {
          symbol: "₫",
          name : "Vietnamese Dong",
          symbol_native: "₫",
          code : "VND",
          name_plural: "Vietnamese dong",
          },
          ZAR : {
          symbol: "R",
          name : "South African Rand",
          symbol_native: "R",
          code : "ZAR",
          name_plural: "South African rand",      
          }
      }
     }
    
        let loggedinUser = JSON.parse('<%- JSON.stringify(currUser || null) %>');

        // console.log(loggedinUser.countryInfo.currency);  

        function genratesCurrencyCodes() {
        let currencyBox = document.querySelector(".currency-div-body");
        currencyBox.innerHTML = "";
        for (const curr in currencyAndCurrencyCodes.data) {
            if (Object.prototype.hasOwnProperty.call(currencyAndCurrencyCodes.data, curr)) {
            const element = currencyAndCurrencyCodes.data[curr];
            // console.log(element);
            currencyBox.innerHTML += 
            `<div class="currencyCodes">
                <span class="curr-name">${(element.name_plural).toString().slice((element.name_plural).toString().length-1) == "s"? (element.name_plural).toString().slice(0,(element.name_plural).toString().length-1): element.name_plural}</span>
                <span class="curr-code">${element.code} – ${element.symbol_native == "টকা" ? "\u20B9" : element.symbol_native}</span>
                <form action="/account/profile/${loggedinUser._id}/edit" method="post">          
                    <input type="text" name="about[currency]" value="${element.code}">
                </form>
                </div>`;   
            }      
        }

        let currencyCodes = document.querySelectorAll(".currency-div-body .currencyCodes");

        for (const codeBox of currencyCodes) {
            const form = codeBox.querySelector("form");
            const code = codeBox.querySelector(".curr-code");
            codeBox.addEventListener("click",()=>{
            form.submit();
            // alert(code.innerHTML)
            })
            if (loggedinUser.countryInfo.currency == code.innerHTML.split("–").slice(0,1).join("").trim()) {
            codeBox.classList.add("black-border");
            }
        }
        }      
        
        
        if(loggedinUser){
        function moveKeyToFirst(obj, keyToMove) {
            if (!(keyToMove in obj)) return obj;

            const {[keyToMove]: value, ...rest} = obj;
            return { [keyToMove]: value, ...rest };
        }

        // Usage
        currencyAndCurrencyCodes.data = moveKeyToFirst(currencyAndCurrencyCodes.data, loggedinUser.countryInfo.currency);  
        genratesCurrencyCodes();
        }

    </script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>    
    <script src="/js/script.js"></script>
</body>
</html>